* {
    margin: 0px;
    font-style: sans-serif;
}
nav {
    font-size: small;
    display: flex;
    justify-content: right;

}
a {
    padding: 10px;
    text-decoration: none; 
}
a:link {
    color: rgba(0,0,0,0.54);
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: rgba(0,0,0,0.54);
}
.logo {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.form_buttons {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_footer {
    padding: 0px 0px 0px 20px;
}
.bottom_footer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;
}
.right_footer {
    display: flex;
    justify-content: flex-end;
}
.left_footer {
        display: flex;
        justify-content: flex-start;
}
footer {
    font-size: small;
    color: rgba(0,0,0,0.54);
}